header,
footer {
    padding: 20px;
    height: 50px;
    background-color: #b6edff;
}

.prihlas {
    margin-left: 20px;
    width: 100px;
    height: 50px;
    font-size: 15px;
    float: left;
    border-radius: 12px;
}

.search {
    float: right;
    margin-top: 10px;
}

.find {
    float: none;
    width: 30px;
    height: 30px;
    margin-left: 0px;
}

input[type=text] {
    height: 25px;
}

section {
    height: 200px;
    width: 310px;
    background-color: #d9d9d9;
    text-align: center;
}

main {
    width: 58%;
    margin-left: 21%;
    padding: 50px;
    background-color: #bed8ff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}

footer p {
    margin-left: 20px;
}

footer button {
    background-color: #ff3131;
    width: 150px;
    height: 50px;
    font-size: 15px;
}

.add {
    float: right;
}

.pf img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.pf,
.contacts {
    float: left;
    display: flex;
    flex-direction: row;
}