header,
footer {
    height: 100px;
    background-color: #b6edff;
    padding: 0px 20px;
}

.prihlas {
    margin-left: 20px;
    width: 100px;
    height: 50px;
    font-size: 15px;
    float: left;
    border-radius: 12px;
    margin-top: 25px;
}

.search {
    margin-top: 20px;
    float: right;
}

.find {
    float: none;
    width: 50px;
    height: 50px;
    margin-left: 0px;
    font-size: large;
}

input[type=text] {
    height: 45px;
    width: 200px;
    font-size: large
}

section {


    background-color: #d9d9d9;
    text-align: center;
    position: relative;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

main {
    width: 63%;
    margin-left: 16.5%;
    padding: 50px;
    background-color: #bed8ff;
}
.container{
    gap: 50px 90px;
}
.container , .recept-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer p {
    margin-left: 20px;
}

footer button {
    background-color: #ff3131;
    width: 150px;
    height: 50px;
    font-size: 15px;
}

.add {
    float: right;
}

.pf img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.pf,
.contacts {
    float: left;
    display: flex;
    flex-direction: row;
}
.contacts, .add{
    margin-top: 25px;
    font-size: 20px;
}
.pf{
    margin-top: 15px;
}
.gulas,section {
    height: 200px;
    width: 300px;
}

.caption {
    position: absolute;
    color: white;
    top: 65%;
    left: 35%;
}
.recept-container{
    flex-direction: row;
    gap: 25px;
}
.description ,.recipie{

    color: black;
    text-shadow: none;
}
.description{
    width: 70%;
    height: auto;
    font-size: 20px;
}
.recipie{
    height: auto;
    width: 100%;
    text-align: start;
    font-size: 25px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .search{
        float: left;
    }
    header{
        height: 160px;
        width: 100%;
    }
    .nav{
        flex-direction: column;
        display: flex;
    }
    main,footer{
        width: 100%;
        margin: 0;
    }
    .gulas,section{
        width: 310px;
        height: 210px;
    }
    .contacts{
        flex-direction: column;
    }
    footer{
        height: 150px;
    }
    .add{
        margin-right: 60px;
    }

}